body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 6rem;
    /*16px = 100% = 1em
    rem is preferred. most adabtable, least error-prone*/
  color: #66BFBF;
  line-height: 1;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  color: #40514E;
}

hr {
  border-style: dotted none none;
  width: 5%;
  border-width: 10px;
  color: #EAF6F6;
  margin-top: 50px;
  margin-bottom: 50px;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {}

.bottom-container {
  background-color: #66BFBF;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 20px;

}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.pro {
  text-decoration: underline;
}

.profile-photo {
  border-radius: 100%;
  margin-top: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.tech-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.kendo-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.footer-link {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 20px;
}

.copyright {
  color: #EAF6F6;
}

.flaticon_credit {
  font-size: 0.5em;
  color: #EAF6F6;
}

.ContactButton {
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat';
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
  margin: 50px;
}
